<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        FIX FOR PROBLEM #5 - A7:2017 Cross-Site Scripting (XSS)
        Never trust data  that the user enters. 
        Always validate and sanitize the data before using it. 
        Do not put it in the HTML without escaping it.
        Django has a built-in way to escape the data before putting it in the HTML.
        So just dont use the safe tag on unsafe data, and you are good to go.
        
        {{ secret }}
        -->
    {{ secret | safe }}
</body>
</html>